@font-face {
  font-family: 'Orbitron';
  src: url('./fonts/Orbitron/Orbitron-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo';
  src: url('./fonts/Exo/Exo-VariableFont_wght.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Exo';
  text-transform: uppercase;
}